---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import CardPost from '@blocks/CardPost.astro'
import Anchor from '@atoms/Anchor.astro'
import TileGrid from '@layouts/TileGrid.astro'
import Tile from '@blocks/Tile.astro'
import _pastels from '@scripts/pastels'
import _shuffle from '@scripts/shuffle'

const { title, padding, class: classes, ...props } = Astro.props
const blogs = Object.values(
	import.meta.glob('@content/pages/blog/*.mdx', { eager: true }),
)
const pastels = _pastels().pastels()
const shuffledPastels = _shuffle(pastels)
---

<Section
	component='blogs'
	title={title}
	padding={padding}
	class:list='invisible'
	data-entry='below'>
	<Wrapper x={false}>
		<TileGrid tag='ul'>
			{
				blogs.map((e, idx) => (
					<li class='group/anchor'>
						<Anchor
							href={e.url}
							class:list='w-full group-hover/anchor:scale-95'>
							<Tile
								obj={e.frontmatter.title}
								copy={e.frontmatter.description}
								pastel={shuffledPastels[idx]}
								class:list='w-full'
							/>
						</Anchor>
					</li>
				))
			}
		</TileGrid>
	</Wrapper>
</Section>
