---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Heading from '@atoms/Heading.astro'
import { _capitalize } from '@scripts/snips'

const {
	title,
	byline,
	description,
	padding = 'none',
	prose,
	cancelSiblingMargins = false,
	tag,
	class: classes,
	...props
} = Astro.props
---

<Section
	tag={tag}
	component='callout'
	title={title}
	padding={padding}
	prose={prose}
	class:list={['invisible', cancelSiblingMargins && '-my-5']}
	data-entry='below'>
	<Wrapper
		x={false}
		class:list={`
            bg-[var(--r-interface-elevation)] border-[var(--r-elevation-border)] border-2
            p-4 sm:p-8 rounded-xl
        `}>
		<div class='col-span-full italic [&>p]:m-0'>
			<slot />
			{
				byline && (
					<div class='mt-6 flex flex-col font-medium'>
						<span
							set:text={byline}
							class='text-[var(--r-accent)] not-italic text-lg'
						/>
						{description && (
							<span
								set:text={description}
								class='text-base text-[var(--r-interface-text)] -mt-0.25'
							/>
						)}
					</div>
				)
			}
		</div>
	</Wrapper>
</Section>
