---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Heading from '@atoms/Heading.astro'
import { _capitalize } from '@scripts/snips'
import _shade from '@scripts/shades-from'

const {
	title,
	byline,
	description,
	padding = 'none',
    prose,
	cancelSiblingMargins = false,
	tag,
	class: classes,
	...props
} = Astro.props
---

<Section
	tag={tag}
	component='callout'
	title={title}
	padding={padding}
    prose={prose}
	class:list={[
        cancelSiblingMargins && '-my-5'
    ]}
	data-entry='below'>
	<Wrapper
		x={false}
		class:list={`
            bg-primary-900/25 border-primary-900 border-2
            p-4 sm:p-8 rounded-xl
        `}>
		<div class='col-span-full italic [&>p]:m-0'>
			<slot />
			{
				byline && (
					<div class='mt-6 flex flex-col font-medium'>
						<span
							set:text={byline}
							class='text-accent-500 not-italic text-lg'
						/>
						{description && (
							<span
								set:text={description}
								class='text-base text-white/60 -mt-0.25'
							/>
						)}
					</div>
				)
			}
		</div>
	</Wrapper>
</Section>
