---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Heading from '@atoms/Heading.astro'
import { _capitalize } from '@scripts/utils/snips'

const {
		title,
		quote,
		person,
		role,
		hue,
		padding = 'bottom',
		class: classes,
		...props
	} = Astro.props
---

<Section
	component='quote-fill'
	title={title}
	padding={padding}
	class:list='invisible'
	data-entry='below'>
	<Wrapper>
		<blockquote
			class='col-span-full md:col-start-2 md:col-end-12 lg:col-start-3 lg:col-end-11 text-[var(--r-primary)]'>
			<Heading
				text={`"${quote}"`}
				tag='p'
				size='mdx'
				weight='extra'
				italic
			/>
			<cite class='block pt-8 not-italic'>
				<span
					set:text={person}
					class='block text-2xl font-bold text-[var(--r-primary)]'
				/>
				<span
					set:text={_capitalize(role)}
					class='block text-xl font-medium opacity-70 italic'
				/>
			</cite>
		</blockquote>
	</Wrapper>
</Section>
