---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Prose from '@atoms/Prose.astro'
import Image from '@atoms/Image.astro'
import Heading from '@atoms/Heading.astro'
import Copy from '@atoms/Copy.astro'
import Chip from '@atoms/Chip.astro'

const {
	title,
	padding = 'bottom',
	tag = 'section',
	image,
	tasks = [
		{
			title: 'Purpose positioning',
			summary:
				'Define FarmTech in language that endears it to potential customers.',
			start: '2024-12-16',
			duration: '3 days',
			owner: {
				image: '@uploads/avatars/kb.jpg',
				title: 'K16E',
			},
			status: 'Slated',
		},
	],
	class: classes,
	...props
} = Astro.props
---

<Section
	tag={tag}
	component='tasks'
	title={title}
	padding={padding}
	class:list='invisible'
	data-entry='below'>
	<Wrapper class:list={['']}>
		<ul
			class='col-span-full sm:col-start-2 sm:col-end-12 xl:col-start-3 xl:col-end-11'>
			{
				tasks.map((i, x) => (
					<li class='grid grid-cols-4 gap-3'>
						<div class='[grid-area:1/1/2/4]'>
							<div>
								<Copy
									tag='span'
									copy={Object.getOwnPropertyNames(i)[x]}
									size='md'
									class='capitalize'
								/>
								<Heading
									tag='h3'
									text={i.title}
									size='md'
									weight='bold'
								/>
								<Copy
									tag='p'
									copy={i.summary}
									size='md'
                                    class="mt-1"
								/>
							</div>
							<div class='grid grid-cols-2 gap-3 mt-4'>
								<div>
									<div>
										<Copy
											tag='span'
											copy={
												Object.getOwnPropertyNames(i)[x]
											}
											size='md'
											class='capitalize'
										/>
										<Copy
											tag='p'
											copy={i.start}
											size='md'
											class='capitalize'
										/>
									</div>
								</div>
								<div>B</div>
								<div>C</div>
							</div>
						</div>
						<div class='[grid-area:1/4/2/5]'>
							<Chip text={i.status} class='w-auto' />
						</div>
					</li>
				))
			}
		</ul>
	</Wrapper>
</Section>
