---
import Heading from '@atoms/Heading.astro'
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Accentbar from '@atoms/Accentbar.astro'
import Icon from '@atoms/Icon.astro'
import Anchor from '@atoms/Anchor.astro'
import _truncate from '@scripts/truncate'
import { _capitalize } from '@scripts/snips'
import pathworx from '@scripts/pathworx'
import Chip from '@atoms/Chip.astro'
import FormattedDate from '@atoms/FormattedDate.astro'
import Figure from '@blocks/Figure.astro'

const
    {
		title,
		subtitle,
		flipped,
		swapped,
		invisible = true,
		centered = true,
		padding = 'both',
		lowercase = true,
		meta = false,
		entry,
		class: classes,
		...props
	} = Astro.props,
	{ isCollection, isCollectionChild, collection, collectionParent } =
		pathworx(Astro.url)
---

<Section
	padding={padding}
	component='title'
	class:list={[invisible && 'invisible', classes]}
	data-entry='above'
	{...props}>
	<Wrapper
		x={false}
		class:list={[
			!isCollection() && !isCollectionChild && 'px-4 sm:px-0',
			isCollection() && 'grid-rows-2',
		]}>
		{
			(isCollection() || isCollectionChild()) && (
				<div class='col-start-1 col-end-2 row-start-1 place-self-start xl:col-start-2'>
					<Anchor
						href={`/${isCollection() ? collection() : collectionParent()}`}
						class:list='text-[var(--r-accent)] hover:opacity-70 px-4 pb-4 -translate-x-1'>
						<Icon name='arrow-left' class:list='w-6' />
						<span class='sr-only' set:text='Back to collection' />
					</Anchor>
				</div>
			)
		}
		<div
			class:list={[
				'col-span-full xl:col-start-3 xl:col-end-11',
				!isCollection() && 'sm:col-start-2 sm:col-end-12',
				centered && 'place-self-center',
				(isCollection() || isCollectionChild()) &&
					'row-span-2 row-start-1 col-start-3 -translate-x-2.5 sm:-translate-x-0 pr-4',
			]}>
			<div class='inline-flex flex-col'>
				<Heading
					text={isCollectionChild() ? title : _truncate(title, 15)}
					level='h2'
					size={isCollectionChild() ? 'lg' : 'xl'}
					weight='extra'
					color='white'
					lowercase={lowercase}
					tighten
					class:list={[
						flipped ? 'order-2' : 'order-1',
						(isCollectionChild() && flipped) && 'mt-1.5 sm:mt-2',
					]}
				/>
				<div
					class:list={[
						'italic flex items-center px-1',
						flipped ? 'order-1' : 'order-2 mt-1 md:mt-2',
					]}>
					<Heading
						text={subtitle}
						size={isCollectionChild() ? 'smx' : 'md'}
						weight='bold'
						color='accent'
						uppercase
						loosen
						nowrap
						class:list={[swapped ? 'order-2' : 'order-1']}
					/>
					<Accentbar
						class:list={swapped ? 'order-1 mr-3' : 'order-2 ml-3'}
					/>
				</div>
			</div>
		</div>
		{
			meta && (
                <div class='col-span-full sm:col-start-2 sm:col-end-12 xl:col-start-3 xl:col-end-11 pl-4 pr-4 sm:pl-0 mt-4 sm:mt-8 flex items-center gap-4 flex-wrap'>
                    {entry && (
                        <Anchor
                            href={`/${collectionParent()}`}
                            class:list={'hover:opacity-70'}>
                            <Chip text={entry.data.series} />
                        </Anchor>
                    )}
                    <FormattedDate
                        date={entry.data.release}
                        class:list='opacity-80'
                    />
                    <span
                        class='opacity-30 block border-r border-white h-full'
                        aria-hidden='true'
                    />
                    {entry.data.update && (
                        <p class='italic opacity-80'>
                            U: <FormattedDate date={entry.data.update} />
                        </p>
                    )}
                </div>
			)
		}
	</Wrapper>
</Section>
