---
import { _shade } from '@scripts/utils/shades-from'
import Icon from '@atoms/Icon.astro'
import Image from '@atoms/Image.astro'
import FormattedDate from '@atoms/FormattedDate.astro'
import Chip from '@atoms/Chip.astro'
import Text from '@atoms/Text.astro'

const {
	image,
	title,
	description,
	release,
	update,
	series,
	num,
	class: classes,
	...props
} = Astro.props
---

<div class:list={[`flex flex-col relative`, classes]} {...props}>
	<Image
		src={image.src}
		alt={image.alt}
		objectLeft={false}
		width='640'
		height='424'
	/>
	{
		release && (
			<div class='px-4 py-3 mt-0.5 flex items-center justify-between'>
				<FormattedDate date={release} class:list='opacity-80' />
				{series && <Chip text={series} />}
			</div>
		)
	}
	<div class='px-4'>
		<Text content={title} size='xl' weight='extra' color='strong' />
		<Text content={description} size='sm' class:list='mt-2.5 line-clamp-3' />
	</div>
	<div class='px-4 py-3 flex items-center justify-between'>
		{
			update && (
				<p class='italic opacity-80'>
					Updated: <FormattedDate date={update} />
				</p>
			)
		}
		<Text content={`#${num}`} color='accent-alt' class:list='font-semibold' />
	</div>
</div>
