---
import Wrapper from '@layouts/Wrapper.astro'
import Section from '@layouts/Section.astro'
import Prose from '@atoms/Prose.astro'
import Richtext from '@composites/Richtext.astro'
import Title from '@composites/Title.astro'
import Figure from '@blocks/Figure.astro'

const { Content, entry } = Astro.props
---

<Title
	subtitle={entry.data.series}
	title={entry.data.title}
	entry={entry}
	flipped={true}
	meta={true}
	centered={false}
	lowercase={false}
	padding='top'
	class:list='col-span-full'
/>
{
	entry.data.showCover && (
		<Wrapper x={false} data-entry='below'>
			<Figure
				image={entry.data.cover.src}
				alt={entry.data.cover.alt}
				oleft={false}
				orientation='landscape'
				class:list={
					'col-span-full lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11 my-8 lg:my-12'
				}
			/>
		</Wrapper>
	)
}
{
	entry.data.excerpt && (
		<Wrapper
			x={false}
			data-entry='below'
			class:list={[!entry.data.showCover && 'mt-8 lg:mt-12']}>
			<Prose
				class:list={`col-span-full lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11 mb-8 lg:mb-12 px-4
            border-l-4 border-accent-500 prose-p:!text-[var(--r-primary)] !pl-6 lg:!pl-8 py-6 lg:py-8 bg-gradient-to-r from-accent-500/5 to-transparent`}>
				<p class:list={`text-2xl lg:text-3xl/10 italic`}>
					<span set:html={entry.data.excerpt} />
				</p>
			</Prose>
		</Wrapper>
	)
}
<Wrapper x={false}>
	<Section
		title={`Full contents of the entry: ${entry.data.title}`}
		class:list='col-span-full'>
		<Richtext
			placement='readable'
			alignment='start'
			tag='div'
			padding='none'
			padX={false}
			class:list='px-4 sm:px-0'>
			<Content />
		</Richtext>
	</Section>
</Wrapper>
